<p id="notice"><%= notice %></p>

<p>
  <strong>Contract type:</strong>
  <%= @constract_type.contract_type %>
</p>

<%= link_to 'Edit', edit_constract_type_path(@constract_type) %> |
<%= link_to 'Back', constract_types_path %>
